<h1>home page.</h1>
<%= link_to 'about', welcome_about_path %>

rails new alpha-blog

rails s -p $PORT -b $IP

create pages controller < ApplicationController

create a home page -- add home action to pages_controller
